[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycrypto = "==2.7a1"
scapy = "==2.4.0"
pycryptodomex = "==3.4.5"
"0acd272" = {editable = true, path = "./../../scapy"}

[dev-packages]

[requires]
python_version = "2.7"
