[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycryptodomex = "==3.4.5"
cryptography = "*"
matplotlib = "*"
ipython = "*"
scapy = "==2.4.1"
# pycrypto = {editable = true,path = "./../lib/pycrypto-2.7a1"}

[dev-packages]

[requires]
python_version = "2.7"
