[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycryptodomex = "==3.4.5"
scapy = "*"
pycrypto = {path = "/home/tom/Documents/uni/fyp/pycrypto-2.7a1"}
cryptography = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "2.7"
